.container {
  background: #fff;
}

.caseStudies {
  text-align: center;
  padding: 40px;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 8vw;

  h2 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      color: #000;
      font-family: "Montserrat", sans-serif;

      border: none;
      background: none;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      color: #777;
      transition: color 0.3s ease;

      &.active {
        color: black;
        font-weight: bold;
        border-bottom: 2px solid black;
      }

      &:hover {
        color: black;
      }
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    transition: all 0.5s ease;

    .item {
      position: relative;
      width: 355px;
      height: 450px;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease, opacity 0.3s ease, order 0.5s ease; // Adiciona transição para a ordem

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;

        h5 {
          color: #fff;
          font-size: 24px;
        }

        p {
          color: #fff;

          font-size: 18px;
        }

        .arrow {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 30px;
          height: auto;
          opacity: 0.8;
        }
      }

      &:hover img {
        transform: scale(1.1);
      }

      &:hover .overlay {
        opacity: 1;
      }

      &.hidden {
        display: none;
        transform: scale(0.7); // Efeito de zoom-out
        opacity: 0.5; // Torna semi-transparente
        order: 1; // Move os cartões não selecionados para baixo
      }

      &:not(.hidden) {
        order: -1; // Move os cartões selecionados para o topo
      }
    }
  }
}
