.container {
  width: 100%;
  background-color: #133558;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: 8vw;
  padding-block: 5rem;
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;

  h3 {
    color: #fff;
    font-size: 2.5rem;
    width: 70%;
  }
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  border-top: 1px solid #fff;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  img {
    width: 40px;
  }

  justify-content: space-between;

  .leftside {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 3rem;

    h3 {
      color: #fff;
      font-size: 2rem;
    }

    p {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  .rowTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .rightside p {
    color: #fff;
    font-size: 1.5rem;
  }
}
