.container {
  background: transparent;
  position: absolute; /* Adiciona o Header sobre o Banner */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Garante que ele fique acima do Banner */
  transition: background-color 0.3s ease;
  @media (max-width: 768px) {
    position: fixed;
    &.scrolled {
      background-color: #284e78;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-inline: 2vw;
  align-items: center;
  width: 100%;
  @media (max-width: 768px) {
    padding-block: 15px;
  }
}
.centerNav {
  flex: 2; /* Ensures the menu is centered */
  display: flex;
  justify-content: center; /* Center the nav items */
  gap: 20px;

  p {
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
    transition: color -5s ease;

    &:hover {
      color: #da8a67; /* Change text color on hover */
    }
  }
}
.leftside {
  flex: 1; /* Ensures it takes space on the left */
  display: flex;
  align-items: center;

  img {
    width: 92px;
    /*filter: brightness(0) invert(1);*/
  }

  p {
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
  }
}

.rightside {
  flex: 1; /* Ensures it takes space on the right */
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  align-items: center;

  button {
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 24px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: background 0.5s ease, color 0.5s ease, border 0.5s ease,
      transform 0.5s ease;

    .icon {
      color: #fff;
      width: 30px;
      transition: transform 0.3s ease;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1); /* Fundo levemente transparente */
      border: 1px solid #fff; /* Borda mais visível */
      color: #da8a67; /* Muda a cor do texto para um tom dourado */
      transform: scale(1.05); /* Aumenta levemente o tamanho */

      .icon {
        transform: rotate(
          20deg
        ); /* Pequena rotação no ícone ao passar o mouse */
      }
    }
  }
}

.languageSwitcher {
  position: relative;
  display: inline-block;

  .selectedLanguage {
    display: flex;
    align-items: center;
    cursor: pointer;

    .flag {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .arrow {
      font-size: 14px;
      color: #fff;
      margin-left: 5px;
    }
  }

  .dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;

    .flag {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 5px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/* Menu Hamburguer visível apenas em telas pequenas */
/* Menu Hamburguer visível apenas em telas pequenas */
@media (max-width: 768px) {
  .leftside p {
    display: none; /* Esconde os itens do menu em telas pequenas */
    justify-content: left;
    margin-right: 20px;
  }

  .hamburgerMenu {
    display: block;
    cursor: pointer;
    z-index: 20;

    .line {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }

  .centerNav {
    display: none; /* Esconde o menu central em telas pequenas */
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #6b8ba2;
    justify-content: center;
    align-items: flex-end;
    padding-right: 35%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%); /* Move off-screen to the right */
    opacity: 0;
    visibility: hidden; /* Initially hidden */
    z-index: 15;

    &.open {
      transform: translateX(0); /* Bring menu into view */
      opacity: 1;
      visibility: visible; /* Ensure it's visible when open */
    }

    &.closing {
      transform: translateX(
        100%
      ); /* Move off-screen to the right when closing */
      opacity: 0;
    }

    p {
      color: #fff;
      font-size: 24px;
      margin: 15px 0;
    }
  }

  .rightside {
    display: none; /* Esconde o botão de contato em telas pequenas */
  }

  /* Centraliza o seletor de linguagem no menu em telas pequenas */
  .languageSwitcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaçamento opcional para melhor visualização */

    .selectedLanguage {
      display: flex;
      align-items: center;
      cursor: pointer;

      .flag {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .arrow {
        font-size: 14px;
      }
    }

    .dropdown {
      position: absolute;
      top: 60px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;

      .flag {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* Ocultando o menu hamburguer em telas grandes */
@media (min-width: 769px) {
  .hamburgerMenu {
    display: none; /* Esconde o menu hamburguer em telas grandes */
  }
  
  .navMenu {
    display: none; /* Esconde o menu lateral em telas grandes */
  }

  .rightside {
    display: flex; /* Exibe o botão de contato em telas grandes */
  }
}
