.container {
  width: 100%;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: 8vw;
  padding-block: 5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.topContent {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.leftside {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.leftside h2 {
  color: #6b8ba2;
  font-size: 2rem;
  max-width: 70%;
  // AQUI ESTÁ A CORREÇÃO:
  text-align: left;
  span {
    display: inline;
  }
}

.rightside {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  overflow: hidden;
}

.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.activeImage {
  opacity: 1;
}

.bottomcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.infoCard {
  border-top: 1px solid #000000;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  transition: box-shadow 0.3s ease;
  img {
    width: 30px;
    filter: invert(15%) sepia(10%) saturate(1000%) hue-rotate(180deg)
      brightness(70%) contrast(80%);
  }
  p {
    color: #6b8ba2;
  }
}

/* Animação do texto */
.animatedWord {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: revealText 0.5s ease forwards;
}

@keyframes revealText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .topContent {
    flex-direction: column;
    align-items: center;
  }
  .leftside {
    max-width: 100%;
    text-align: center;
  }
  .leftside h2 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  .rightside {
    order: 1;
    max-width: 100%;
  }
  .carouselContainer {
    max-width: 100%;
    height: 200px;
  }
  .bottomcontent {
    flex-direction: column;
    gap: 2rem;
  }
  .infoCard {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #000000;
  }
}
