.container {
  width: 100%;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: 8vw;
  padding-block: 5rem;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.topContent {
  display: flex;
}

.ball {
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #133558;
  position: relative;
  transition: transform 0.1s ease-out, box-shadow 0.3s ease; /* Added box-shadow transition */

  h3 {
    font-size: 5rem;
  }

  span {
    font-size: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &:hover {
    transform: scale(1.1); /* Enlarges the ball on hover */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Adds shadow on hover */
  }
}

.experienceText {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  span {
    color: #133558;
    font-weight: bold;
  }

  p {
    font-size: 1.3rem;
    color: #133558;
    opacity: 0.7;
  }
}

.rightside {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.leftside {
  width: 100%;
  display: flex;
  align-items: center;
}

.leftside h2 {
  color: #133558;
  font-size: 2rem;
  max-width: 70%;

  span {
    display: inline-block;
    will-change: transform, opacity;
  }
}

.infoCard {
  border-top: 1px solid #133558;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  transition: box-shadow 0.3s ease; /* Added transition for box-shadow */
  img {
    width: 30px;
    filter: invert(15%) sepia(10%) saturate(1000%) hue-rotate(180deg)
      brightness(70%) contrast(80%);
  }

  p {
    color: #133558;
  }

  // &:hover {
  //   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Adds shadow on hover */
  // }
}

.bottomcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
