.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bannerContent {
  display: flex;
  width: 100%;
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.leftSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f3a5f; /* Um tom de azul marinho escuro */
}

.leftLines {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    transparent 45%,
    #284e78 45%,
    /* Um tom de azul mais escuro */ #284e78 55%,
    transparent 0
  );
  background-size: 5px 5px;
}

.leftLines h1,
.leftLines h2 {
  font-size: 8.125rem;
  position: relative;
  width: fit-content;

  color: #f0f4f8; /* Um tom de branco suave para contraste */
  line-height: 0.9;
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
}

.leftLines h1::before {
  content: "";
  position: absolute;

  top: 60%;
  left: -3%;
  height: 80%;
  width: 0;
  background-image: url("/highlight.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  transform: translateY(-50%);
  z-index: -1;
  animation: revealHighlight 2s ease forwards;
}

@keyframes revealHighlight {
  to {
    width: 100%;
  }
}

.rightside {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-color: #1f3a5f;
  animation: changeBackground 20s infinite;

  @keyframes changeBackground {
    0% {
      background-image: url("/york.webp");
    }
    33% {
      background-image: url("/maldives.webp");
    }
    66% {
      background-image: url("/japan.webp");
    }
    100% {
      background-image: url("/york.webp");
    }
  }
}

.rightBox {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  max-width: 18vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  img {
    position: absolute;
    top: 12%;
    right: 8%;
  }
  h2 {
    color: #1f3a5f; /* Cor branca suave */
  }
  p {
    color: #1f3a5f;
  }
}

.description {
  margin-top: 10%;
  width: fit-content;
  button {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #f0f4f8;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
    .arrow {
      width: 50px;
    }
  }
  p {
    font-size: 1.25rem;
    color: #f0f4f8;
    overflow: hidden;
    display: inline-block;
    white-space: normal;

    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(20px);
      animation: revealText 0.5s ease forwards;
    }
  }
}

@keyframes revealText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  width: fit-content;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .banner {
    justify-content: center;
    align-items: center;
  }

  .leftSide {
    height: 500px;
  }

  .rightside {
    height: 500px;
  }

  .leftSide,
  .rightside {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .leftLines h1,
  .leftLines h2 {
    font-size: 3rem; /* Reduz o tamanho da fonte */
  }

  .rightBox {
    max-width: 50%;
    text-align: center; /* Centraliza o texto dentro da caixa direita */
    position: absolute;
    left: 0;
  }

  .description button {
    gap: 1rem;
    font-size: 1rem; /* Reduz o tamanho da fonte */
  }

  .description p {
    font-size: 1rem;
    margin-right: 100px;
  }

  .arrow {
    width: 30px; /* Ajusta o tamanho da seta */
  }

  .title {
    max-width: 90%;
  }
}
