.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: -1px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bannerContent {
  display: flex;
  width: 100%;
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.leftSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b8ba2;
  margin-top: -1px !important;
}

.leftLines {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    transparent 45%,
    #284e78 45%,
    #284e78 55%,
    transparent 0
  );
  background-size: 5px 5px;
}

.leftLines h1,
.leftLines h2 {
  font-size: 8.125rem;
  position: relative;
  width: fit-content;
  color: #f0f4f8;
  line-height: 0.9;
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
}

.leftLines h1::before {
  content: "";
  position: absolute;
  top: 60%;
  left: -2%;
  height: 80%;
  width: 0;
  background-image: url("/highlight.png");
  filter: sepia(30%) saturate(200%) hue-rotate(-20deg) brightness(80%);
  background-repeat: no-repeat;
  background-size: auto 100%;
  transform: translateY(-60%);
  z-index: -1;
  animation: revealHighlight 7s ease forwards;
}

@keyframes revealHighlight {
  to {
    width: 100%;
  }
}

.rightside {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.rightsideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.activeImage {
  opacity: 1;
}

.rightBox {
  position: relative;
  width: 100%;
  background-color: #fff3f3af;
  padding: 2rem;
  max-width: 18vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  img {
    position: absolute;
    top: 12%;
    right: 8%;
  }
  h2 {
    color: #6b8ba2;
  }
  p {
    color: #000;
  }

  @media screen and (max-width: 768px) {
    position: static;
    max-width: 90%;
    padding: 1rem;
  }
}

.description {
  margin-top: 12%;
  width: fit-content;

  button {
    cursor: pointer;
    background: none;
    /* Define uma borda inicial, essencial para o efeito de inversão */
    border: 2px solid #da8a67;

    display: flex;
    align-items: center;
    justify-content: center;

    /* Aumentei o GAP para dar espaço para o avião */
    gap: 1.5rem;

    /* Define a cor padrão do texto e do avião */
    color: #da8a67;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 12%;

    /* Otimizações para o efeito de voo */
    position: relative; /* Pai do avião, essencial para posicionamento absoluto */
    overflow: hidden; /* Garante que o avião não 'corte' a borda durante o voo */
    padding-left: 70px; /* Cria espaço extra para o avião dentro do botão */
    transition: all 0.4s ease-in-out;
    border-radius: 7px; /* Adicionado um border-radius para visual mais moderno */

    .arrow {
      /* ESTADO INICIAL DO AVIÃO */
      width: 33px; /* Tamanho ajustado */
      position: absolute;
      left: 12px; /* Posição inicial do avião */
      transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Suaviza a animação */
    }

    /* ANIMAÇÃO DE VOO AO PASSAR O MOUSE */
    &:hover {
      /* Efeito de Inversão de Cores */
      color: #ffffff; /* Texto fica branco */
      background-color: #da8a67; /* Fundo fica laranja */

      .arrow {
        /* Move o avião 15px para a direita e o inclina levemente */
        transform: translateX(20px) rotate(5deg);
      }
    }
  }

  p {
    font-size: 1.25rem;
    color: #f0f4f8;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(20px);
      animation: revealText 0.5s ease forwards;
    }
  }
}

@keyframes revealText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  width: fit-content;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .banner {
    justify-content: center;
    align-items: center;
  }
  .leftSide {
    height: 500px;
  }
  .rightside {
    height: 500px;
  }
  .leftSide,
  .rightside {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .leftLines h1,
  .leftLines h2 {
    font-size: 3rem;
  }
  .rightBox {
    max-width: 50%;
    text-align: center;
    position: absolute;
    left: 0;
  }
  .description button {
    gap: 1rem;
    font-size: 1rem;
  }
  .description p {
    font-size: 1rem;
    margin-right: 100px;
  }
  .arrow {
    width: 32px;
  }
  .title {
    max-width: 90%;
  }
}
